$map-height: 768px;

#map {
  width: 100%;
  height: $map-height;
}

.map-body {
  display: flex;
  .map-body-map {
    width: 100%;
    margin-right: 20px;
    position: relative;
  }
  .map-body-listing {
    width: 300px;
    max-height: $map-height;
    overflow-y: scroll;
  }
}

.ui-autocomplete {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 500px;
}

.marker-details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: lightgrey;
  width: 300px;
}