@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$open_sans: 'Open Sans', sans-serif;

$column-width: 1200px;

$key-color: #565294;
$key-color-2: #3DDC97;

$button-disabled-grey: #E6E6E6;
$blue: #4A90E2;
$light-grey: #F6F7F8;

$button-color: $key-color-2;

$green: #27AE60;
$yellow: #F1C40F;
$blue: #3498DB;

@mixin breakpoint($class) {
  @if $class==desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @else if $class==large_tablet {
    @media (min-width: 1024px) {
      @content;
    }
  }
  @else if $class==tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  @else if $class==mobile {
    @media (max-width: 420px) {
      @content;
    }
  }
  @else {
    @warn "Breakpoint mixin supports: desktop, large_tablet, tablet, mobile";
  }
}

@mixin button {
  cursor: pointer;
  font-family: $open_sans;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 17px;
  color: white;
  border: 0;
  border-radius: 0;
  background-color: $button-color;
}

@mixin button_small {
  @include button;
  min-width: 60px;
  height: 24px;
  padding: 2px 7px;
  font-size: 13px;
  background-color: $key-color;
}

@mixin button_small_disabled {
  @include button_small;
  color: #4A4A4A;
  font-weight: 400;
  background-color: $button-disabled-grey;
}

@mixin tab {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  &.active {
    border-bottom: 4px solid $key-color;
  }
}

body, button {
  font-family: $open_sans;
}

@import 'map';